.wrapper {
  width: 100%;
  max-width: 600px;
  background-color: var(--mantine-color-body);
}

.name {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin: 0;
}

.description {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin: 0;
}

