.container {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  transition: box-shadow 0.2s ease;
}

.input {
  flex: 1;
}

.button {
  background-color: #4263EB !important;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #364FC7 !important;
}